# Python
# ======
*.pyc

# Temporary Files
# ===============
*~
*.orig
\#*
.\#*

# LaTeX Files
# ===========
*.out
*.aux
*.log
*.synctex.gz

# IDEA files
# ==========
*.idea

# Virtual Environment
# ===================
venv

# PNG files from ESTMD
# ====================
src/dragonfly_neurons/temp/*

# Build Folders
# =============
src/pattern_recognition/build
src/pattern_recognition/dist
src/pattern_recognition/pattern_recognition.egg-info