# Python
# ======
*.pyc
*.egg-info

# Temporary Files
# ===============
*~
*.orig
\#*
.\#*
stage1

# LaTeX Files
# ===========
*.out
*.aux
*.log
*.synctex.gz

# IDEA files
# ==========
*.idea

# Virtual Environment
# ===================
venv

# PNG files from ESTMD
# ====================
src/dragonfly_neurons/temp/*

# Build Folders
# =============
build
dist

# Generated Animations
# ====================
src/server/assets/animations
src/animation/temp
src/server/temp
