# Python
# ======
*.pyc

# Temporary Files
# ===============
*~
*.orig
\#*
.\#*
.coverage

# LaTeX Files
# ===========
*.out
*.aux
*.log
*.synctex.gz

# IDEA files
# ==========
*.idea

# Virtual Environment
# ===================
venv

# PNG files from ESTMD
# ====================
stage1/dragonfly_neurons/temp/*
