bottle==0.12.8
BottleDaemon==0.1.1
coverage==3.7.1
docutils==0.12
Jinja2==2.7.3
lockfile==0.10.2
MarkupSafe==0.23
matplotlib==1.4.2
mock==1.0.1
mpld3==0.2
nose==1.3.4
numpy==1.9.1
pattern-recognition==0.1
pyglet==1.2.2
pymongo==2.8
pyparsing==2.0.3
python-daemon==2.0.5
python-dateutil==2.4.0
pytz==2014.10
scipy==0.15.1
six==1.9.0
uWSGI==2.0.10
